name: Go

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1

      - name: Set up Go
        uses: actions/setup-go@v6.1.0
        with:
          go-version-file: "go.mod"

      - name: Test
        run: go test -v ./...
